POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=express_cafe
PG_DATA=/var/lib/postgresql/18/docker

REDIS_HOST=localhost
REDIS_PORT=6380

PORT=3000

DATABASE_URL=postgresql://postgres:postgres@localhost:5454/express_cafe
